# Scouter Server IP Address (Default : 127.0.0.1)
net_collector_ip={{ scouter_server }}
 
# Scouter Server Port (Default : 6100)
net_collector_udp_port={{ net_collector_udp_port }}
net_collector_tcp_port={{ net_collector_tcp_port }}
 
hook_method_patterns=com.skt.tvalley.api.*.*
hook_method_ignore_classes=com.skt.tvalley.api.config.logback.appender.CustomLogbackAppender

# Scouter Name(Default : tomcat1)
obj_name={{ inventory_hostname }}
 
#log dir
log_dir=/skt/was/apps/instance01/logs

