/skt/was/apps/instance01/logs/catalina.out {
        daily
        missingok
        rotate 8
        compress
        delaycompress
        notifempty
        su nobody adm
        dateext
        copytruncate
}
